server:
  port: 2333
  address: 0.0.0.0

lavalink:
  plugins:
    - dependency: "dev.lavalink.youtube:youtube-plugin:1.16.0"
      snapshot: false
  server:
    password: "rmusic_lavalink_2024"
    sources:
      youtube: false
      bandcamp: true
      soundcloud: true
      twitch: true
      vimeo: true
      http: true
      local: false
    filters:
      volume: true
      equalizer: true
      karaoke: true
      timescale: true
      tremolo: true
      vibrato: true
      distortion: true
      rotation: true
      channelMix: true
      lowPass: true
    bufferDurationMs: 400
    frameBufferDurationMs: 5000
    opusEncodingQuality: 8 # Expert "En İyi Denge" Ayarı
    resamplingQuality: HIGH # Discord teknik sınırlarına tam uyumlu yüksek kalite
    trackStuckThresholdMs: 10000
    useSeekGhosting: true
    youtubePlaylistLoadLimit: 100
    playerUpdateInterval: 1 # Paket akışını daha sıkı kontrol et
    youtubeSearchEnabled: true
    soundcloudSearchEnabled: true
    gc-warnings: false # Log kalabalığını ve takılmayı azalt

plugins:
  youtube:
    enabled: true
    allowSearch: true
    allowDirectVideoIds: true
    allowDirectPlaylistIds: true
    clients:
      - ANDROID_TESTSUITE
      - ANDROID_VR
      - MUSIC
      - WEB
      - TVHTML5EMBEDDED

logging:
  file:
    path: ./logs/
  level:
    root: INFO
    lavalink: INFO
